<div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Doctor
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <app-login></app-login>
      </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Consultant 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <app-login></app-login>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Patient
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <app-login></app-login>
        </div>
      </div> 
  </div>