.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10%;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e7e7e7; color: black;
  }
  .logindivin{
    margin-left: 10%;
  }
  .logindivout{
    background: #6666ff;
  }